.map-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.location-input {
  flex-grow: 1;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex; 
  justify-content: space-around;
}

.button-container button {
  padding: 8px 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.add-btn, .remove-btn {
  padding: 8px 12px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
}

.add-btn:hover, .remove-btn:hover {
  background-color: #0056b3;
}

.active-button {
  background-color: #4CAF50; 
  color: white;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

div button {
  margin: 5px;
}

button:hover {
  background-color: #218838;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}